---
import "../styles/global.css";
---

<html lang="en" class="scroll-smooth motion-reduce:scroll-auto">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <title>Not Found</title>
  </head>
  <body class="bg-background relative isolate text-white">
    <main
      class="font-space mx-auto flex h-svh max-w-480 flex-col items-center justify-center gap-4 px-5 md:px-20"
    >
      <h1 class="text-7xl font-bold">Oops!</h1>
      <p class="text-muted text-center">
        We could not find the page you were looking for!
      </p>
      <a href="/" class="hover:underline">Back to Home Page</a>
    </main>
  </body>
</html>
