---
import type { DirectusContentData } from "@lib/directus";
import PillButton from "./pill-button.astro";
import { ensureObject } from "@lib/utils";

interface Props {
  data: NonNullable<DirectusContentData["translations"]>[number];
}

const data = ensureObject(Astro.props.data);

// put this here so that tailwind recognizes the class name
("text-primary");
---

<section
  id="home"
  class="my-44 flex flex-col items-center justify-center overflow-visible md:my-96"
>
  <h1
    class="font-space text-3xl font-bold md:w-2/3 md:self-start md:text-6xl"
    set:html={data.jumbotron_header_html}
  />
  <div class="mt-4 md:mt-16 md:w-1/2 md:self-end">
    <p class="text-muted">
      {data.jumbotron_description}
    </p>
    <PillButton class="mt-6 w-fit self-start">View Projects</PillButton>
  </div>
</section>
