---
import { twMerge } from "tailwind-merge";
import type { JSX } from "astro/jsx-runtime";

type Props = JSX.IntrinsicElements["a"];

const { class: className, ...restProps } = Astro.props;
---

<a
  {...restProps}
  class={twMerge(
    "border-primary border text-primary rounded-full px-6 py-3",
    className,
  )}
>
  <slot />
</a>
